@media (max-width: 500px) {
    .home {
        padding: 100px 40px;
      
    }
}
.avatar {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 35%;
}


.centered {
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  letter-spacing: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: 1px 1px #4b4444;
}
.background {
  background-image: url=("https://i.imgur.com/Br17b4U.jpg")''
}