@media (max-width: 500px) {
    
      
    }

    
.avatar {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 35%;
}


.centered {
  font-size: auto;
  font-weight: bold;
  position: absolute;
  letter-spacing: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: 1px 1px #0c0000;
}
.background {
  background-image: url=("https://i.imgur.com/uTjXz8V.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}