.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

.img {
    height:60vmax;
    background-size: contain;
}

.layout-children {
    flex: 1;
    padding: 75px;
    align-items: auto;
    
    
}
.centered {
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  letter-spacing: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: 1px 1px #0c0000;
}

@media (max-width: 500px) {
    .layout {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .layout-children {
        width: 100%;
        padding: 75px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.paragraph {
  margin: auto;
  width: 65%;
  padding: 10px;

}
.footer {
  display: block;
  flex: 1;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 5;
  bottom: 0;
  text-align: center;
  padding: 20px;

}

.avatar {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 35%;
}


.background {
  min-height: 100%;
  min-width: 1080px;
  width: 100%;
  height: auto;
  position: center center;
  top: 0;
  left: 0;
	
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}